.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App-car{
  width: 30vw;
}


.App-scene {
 width: 100vw;
 height: 100vh;
}

.App-countdown{
  position: absolute;
  font-size: 100px;
  color: magenta;
  font-style: italic;
  font-weight: 800;
}

.App-button{
  position: absolute;
  width: 30vw;
  border-radius: 5px;
  top: 100px;
  left: 35%;
  font-size: xx-large;
}

.App-input{
    position: absolute;
    top: 47px;
    left: 35%;
    background-color: lightcyan;
    width: 30vw;
    font-size: xx-large;
}

.App-link {
  color: #09d3ac;
}
