.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.App-car{
  width: 30vw;
}


.App-scene {
 width: 100vw;
 height: 100vh;
}

.App-countdown{
  position: absolute;
  font-size: 100px;
  color: magenta;
  font-style: italic;
  font-weight: 800;
}



.App-link {
  color: #09d3ac;
}
