.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-scene {
 width: 100vw;
 height: 100vh;
}

.App-car{
  position: absolute;
  bottom: 100px;
}
.App-carimage{
  width: 30vw;
}
.App-countdown{
  position: absolute;
  font-size: 100px;
  color: rgb(0, 68, 255);
  font-style: italic;
  font-weight: 800;
  top: 47px;
  align-self: center;
}

.App-button{
  position: absolute;
  width: 30vw;
  border-radius: 5px;
  top: 100px;
  font-size: xx-large;
  align-self: center;
}

.App-input{
    position: absolute;
    top: 47px;
    background-color: lightcyan;
    width: 30vw;
    font-size: xx-large;
    align-self: center;
}

.App-label {
    position: absolute;
    top: 165px;
    font-size: xx-large;
    align-self: center;
}
.App-turn{
  position: absolute;
  align-self: center;
  top: 60px;
  font-size: 80px;
  display: flex;
  flex-direction: column;
}

.App-gameover{
  position: absolute;
  top: 200px;
  font-size: xx-large;
  align-self: center;
  font-family: monospace;
  color: tomato;
}

.App-link {
  color: #09d3ac;
}



@media (max-width: 415px) 
{
  .App-scene{
    width: 100vw;
    height: 90vh;
  }
  .App-mobilecontrol{
    
    position: absolute;
    display: grid;
    grid-template-columns: 80px 80px 80px 30px ;
    grid-column-gap: 30px 30px 30px 30px;
    bottom: 20px;
  }

.App-buttonmobile{
  background-color: cadetblue;
  width: 80px;
  
}

  
}